body{
    background-color: rgb(255, 250, 230);
}

#mainContainer{
    gap: 20px;
}

#mainContainer > div{
    background-color: rgb(255, 159, 102);
    padding: 10px;
}

#introduction{
    text-align: center;
}

#text-choice{
    border: 5px solid black;
    background-color: white;
}

#typing-area{
    width: 80%;
}

textarea{
    width: 95%;
    min-height: 200px;
    margin: 5px;
}

button{
    margin: 5px;
}


.column-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}